 .feeds h4{text-align:center;background: #4FC1E9;    color: #ffffff;font-size: 16px;padding:8%;text-transform: uppercase;}
    .content-right{margin-top:20px;}
    .cloud{margin-top:-20px;text-align: center;display: inherit;}
    .refresh{width: 40px;height: 40px;display: inline-block;background: #4FC1E9 url('../images/sprites.png') no-repeat -124px -29px;border-radius: 30px;-webkit-border-radius: 30px;-moz-border-radius: 30px;-o-border-radius: 30px;}
    .feeds-list{margin-top:2px;border-top: 1px solid #FAFAFA;  background: #ffffff;
    box-shadow: inset 0px -1px 2px rgb(221, 221, 221);
    -webkit-box-shadow: inset 0px -1px 2px rgb(221, 221, 221);
    -moz-box-shadow: inset 0px -1px 2px rgb(221, 221, 221);
    -o-box-shadow: inset 0px -1px 2px rgb(221, 221, 221);}
    .ps_img{float:left;display:block;line-height: 0;}
    .ps_img img{width:40px;height:40px;border-radius: 20px;}
    .feeds-list li{padding:5.5%;border-bottom: 1px solid #E7E7E7;}
    .feeds_text{float:left;margin-left:8px;letter-spacing: 1px;font-size: 14px;width:131px;}
    .feeds_text a{color:#455670;}

          form input[type="button"].bg1{
    background: #A0D468;
          }
      form input[type="button"].bg1:hover{
    background: #92C45D;
          }
      form input[type="button"].bg2{
    margin-left:15px;
    background: #48C0EB;
          }
      form input[type="button"].bg2:hover{
    background: #40B0D8;
          }
      form input[type="button"].bg3{
    margin-left:15px;
    background: #FE6D4B;
          }
      form input[type="button"].bg3:hover{
    background: #E55F40;
          }
    form input[type="button"]{
    width: 30.793%;
    float: left;
    background: #F97E76;
    color: #ffffff;
    font-size: 14px;
    padding: 12px 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 1.5em;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

.flicker-example { width: 100%; height: 293px; margin-left: auto; margin-right: auto;margin-top:20px;}
.flicker-example ul li{cursor:pointer;}
.flick-title , .flick-sub-text{text-shadow: -2px 3px 3px #000;z-index: 2;position:relative;}
.cover_slider{background-color: rgba(0,0,0,0.3); position: absolute; top: 0; left: 0; bottom: 0; right: 0;z-index: 1;}
.info_tags span{margin:0 2px;}

.read_box{padding:3px;box-shadow: inset 0px -1px 2px rgb(221, 221, 221);
    -webkit-box-shadow: inset 0px -1px 2px rgb(221, 221, 221);
    -moz-box-shadow: inset 0px -1px 2px rgb(221, 221, 221);
    -o-box-shadow: inset 0px -1px 2px rgb(221, 221, 221);position:relative;height:247px;}
.read_box li{border-bottom: 1px solid #E7E7E7;}
.read_box li img{position:relative;z-index: 2;}
.read_img {z-index: 1 !important;}
.read_main{/*margin-top:5px;*/position:absolute;bottom:32px;width:100%;padding-left: 10px;}
.read_box a{position:absolute;bottom:0;z-index:1000;padding:7px;font-size: 16px;color:#fff;}
.read-cover
{ position: absolute;width: 98%; height: 30px; left: 4px; bottom: 2px; background-color: #41474e; opacity: 0.8;filter:alpha(opacity=80);-moz-opacity:0.8; z-index: 1000;}
.read_main img {width:64px;height:64px;border-radius: 5px;float:left;}
.read_info{float:left;margin-left: 4px;padding:2px;line-height: 1.5em;color:#000000;overflow:hidden;width:75%;}
.read_info h2{font-size: 16px;font-weight: normal;border-left: 5px solid #48C0EB;padding-left: 10px;}
.fm_box{height:247px;width:100%;/*display:none;*/box-shadow: inset 0px -1px 2px rgb(221, 221, 221);-webkit-box-shadow: inset 0px -1px 2px rgb(221, 221, 221);
    -moz-box-shadow: inset 0px -1px 2px rgb(221, 221, 221);
    -o-box-shadow: inset 0px -1px 2px rgb(221, 221, 221);}

    .two_row{margin-top:10px;}
    .welcome{height:260px;width:100%;background:#a0d36e;border-radius: 8px;text-align:center;padding:26% 0 15% 0;}
    .welcome p{color:#fff;}

@keyframes wobble {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  15% {
    -webkit-transform: translateX(-25%) rotate(-5deg);
    -ms-transform: translateX(-25%) rotate(-5deg);
    transform: translateX(-25%) rotate(-5deg);
  }

  30% {
    -webkit-transform: translateX(20%) rotate(3deg);
    -ms-transform: translateX(20%) rotate(3deg);
    transform: translateX(20%) rotate(3deg);
  }

  45% {
    -webkit-transform: translateX(-15%) rotate(-3deg);
    -ms-transform: translateX(-15%) rotate(-3deg);
    transform: translateX(-15%) rotate(-3deg);
  }

  60% {
    -webkit-transform: translateX(10%) rotate(2deg);
    -ms-transform: translateX(10%) rotate(2deg);
    transform: translateX(10%) rotate(2deg);
  }

  75% {
    -webkit-transform: translateX(-5%) rotate(-1deg);
    -ms-transform: translateX(-5%) rotate(-1deg);
    transform: translateX(-5%) rotate(-1deg);
  }

  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}
    .welcome p:hover{animation: wobble 2s infinite;cursor:pointer;}
    input[type="submit"] {border:none;/*background:none;*/cursor:pointer;outline:none;}
     .search{background:#48CFAD;height:45px;padding:7px;border-radius: 5px;}
     .google_search{width:262px;height:30px;float:left;outline:none;border-color: transparent;}
     .submit_search{width:26px;height:30px;color:#fff;background:url(../images/sprites.png);margin-top:6px;margin-left: 4px;}
     .text-area ul{padding-left: 4px;box-shadow: inset 0px -1px 2px rgb(221, 221, 221);-webkit-box-shadow: inset 0px -1px 2px rgb(221, 221, 221);
    -moz-box-shadow: inset 0px -1px 2px rgb(221, 221, 221);
    -o-box-shadow: inset 0px -1px 2px rgb(221, 221, 221);}
     .text-area ul li{padding:7px 0;height:33px;overflow:hidden;}
     .text-area li a{color:#455670;transition:color 0.3s;}
     .text-area li a:hover{color:#000000;}
     .text-area h3{background:#48CFAD;color:#fff;padding:7px 7px;border-radius: 5px;font-weight: normal;margin-top: 6px;margin-bottom: 3px;}
     .recommend_title_left img{border-radius: 4px;}
     .recommend_title_left{width:59.5%;float:left;}
     .recommend_title_right{width:40%;float:left;}
     .recommend_title h3{color:#fff;padding:10px;border-radius: 4px;}
     .recommend_title_left h3{background:#424d51;font-weight: normal;}
     .recommend_title_right h3{background:#F5F6F6;font-size: 16px;color:#424d51;}

     .recommend_title_text_left , .recommend_title_text_right{float:left;width:50%;padding:10px;}
     .recommend_title_text_left a{color:#424d51;}
     .recommend_title_text_left{background:#F5F6F6;border-radius:0px 0px 5px 5px;}
     .recommend_title_text_right{background:#fff;}
     .recommend_title_text_left li{line-height: 2em;overflow: hidden;width:100%;height:28px;}
     .recommend_title_text p{padding:4px;border-radius: 4px;background:#424d51;text-align: center;width:120px;margin:1px auto;}
    .recommend_title_more{font-size:14px;font-weight:normal;padding-left:36px;}
     .recommend_title_img{margin-top: 8px;color:#FFF;}
     .recommend_title_img_left{width:42%;color:#424d51;float: left;}
     .recommend_title_img_right{width: 58%;float: right;}
     .recommend_title_img_set{background:#F5F6F6;padding:15px 0px;text-align: center;}
     .footer{width:100%;background:#1A1A1A;text-align: center;}
     .footer a , .footer span{color:#FFF;margin:0 10px;line-height: 35px;}

     .three_row{margin-top: 10px;}
     .three_row a{display:block;}
     .three_row .col-md-4{margin-bottom: 10px;}
     .three_row h3{background:#48C0EB;color:#FFF;font-weight: normal;padding:10px;margin-bottom: 5px;border-radius: 4px;}
     .three_row h4{padding:10px;color:#a0d36e;font-size: 18px;}
     .three_row p{color:#A8B1B1;margin-top:5px;}
     .bottom-text{/*padding:26% 0 15% 0;*/height:285.65px;box-shadow: inset 0px -1px 2px rgb(221, 221, 221);-webkit-box-shadow: inset 0px -1px 2px rgb(221, 221, 221);
    -moz-box-shadow: inset 0px -1px 2px rgb(221, 221, 221);
    -o-box-shadow: inset 0px -1px 2px rgb(221, 221, 221);text-align: center;}
    .three_row .col-md-5 img {width:49%;height:135px;float:left;padding:2px;}
    .tuijian_img{margin-top: 7px;}
    .recommend_title_info{height:68px;overflow:hidden;}
    .fixed{position:fixed!important;bottom:0;z-index: 3;}




    .bottom-text {
    width: 100%;
    height: 284px;
    margin: 0px auto;
    position: relative;
    border-top: 1px solid #d6d6d6;
    background-color: #FFF;
    overflow: hidden;
}
.bottom-text a{color:#424d51;transition:color 0.3s;}
.bottom-text a:hover{color:#000000;}
.bottom-text ul {
    position: relative;
    margin: 0px 10px 0px 10px;
    top: 0;
    left: 0;
    padding: 0;
}
.bottom-text ul li {
    width: 100%;
    border-top: 1px dotted #d6d6d6;
    padding: 10px 0;
    _padding: 8px 0;
    overflow: hidden;
    line-height: 1.5;
}

.bottomcover {
    position: absolute;
    bottom: 0;
    background: url("../images/half.png") /* 0 -5px*/;
    height: 35px;
    width: 100%;
    pointer-events: none;
}
