@charset "utf-8";

@media (max-width:767px){
    .content-right{margin-top: 10px !important;}
    .flicker-example{height:200px !important;margin-top: 10px !important;}
    .musicfm{margin-top:10px;}
    .feeds{text-align:center;}
    form input[type="button"]{width:29.733% !important;}
    #player{width:91%;border-radius: 5px;}
    #player .cover{left:10px;}
    #player .ctrl{margin-left: 70px;}
    #playlist {width:99%;}
    .volume{display:none;}
    .url_list{display:none;}
    .feeds_text{width:80% !important;}
    .search_set{padding:0;margin-top: 6px;}
    .google_search{width:91.5% !important;}
    .submit_search{width:7% !important;}
    .read_main{padding:0 !important;width:93% !important;}
    .recommend_title_left{float:none;width:100% !important;}
    .recommend_title_right{float:none;width:100% !important;}
    .recommend_title_text_left , .recommend_title_text_right{float:none !important;width:100% !important;padding:0px !important;}
    .recommend_title_left{margin-top:10px;}
    .recommend_title_text_right{margin: 10px 0px;box-shadow: inset 0px -1px 2px rgb(221, 221, 221);-webkit-box-shadow: inset 0px -1px 2px rgb(221, 221, 221);
    -moz-box-shadow: inset 0px -1px 2px rgb(221, 221, 221);
    -o-box-shadow: inset 0px -1px 2px rgb(221, 221, 221);}
    .recommend_title_text_right img{height:212px !important;}
    .recommend_title_more{float:right;}
    .footer a , .footer span{margin:0 !important;}
    .three_row .col-md-5{margin: 10px 0;}
    .three_row .col-md-5 img{width:100% !important;margin-top:3px !important;}
    .fm_text p{font-size: 12px !important;}
    .tuijian_img{margin:0 !important;}
}

@media (min-width:768px) and (max-width:991px){
    .musicfm{margin-top:10px;}
    form input[type="button"]{width:31.945% !important;}
    .url_list_set li{width:45% !important;}
    .search_set{padding:0;margin-top: 6px;}
    .google_search{width:676px !important;}
    .recommend_set{margin-top: 10px;}
    .feeds_text{width:80% !important;}
    #player{width:96% !important;}
    .welcome{height:401px !important;}
}

@media (min-width:992px) and (max-width:1199px){
.musicfm{padding: 0;}
.slider_set{padding-right: 0;}
.url_list{padding-right: 0; margin-top: 10px;}
.flicker-example{height:269.55px !important;}
form input[type="button"]{width:30.20% !important;}
.fm_box{height:207px !important;}
#player{bottom:0;height:115px;padding:0 13px 0 23px;}
#player .ctrl .progress{margin-top: 0 ;}
.container{padding-left: 0;}
.read_info{margin-left: 3px !important;}
    .input_ul li{height:226px !important;}
    .google_search{width:204px !important;}
    .recommend_set{padding:0;}
    .read_box{height:226px !important;}
    .read_a {height:222px !important;}
}
@media (min-width:1200px){
    .container{padding-left: 0;}
    .musicfm{padding: 0;}
    .slider_set{padding-right: 0;}
    .url_list{padding-right: 0; margin-top: 10px;}
    .one_row{height:316px;}
    .input_ul li{height:241px !important;}
#player{border-radius: 5px;}
.recommend_set{padding:0;}
}
/*全局样式*/
.welcome_set {padding:0 !important;}
